.container-erro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    min-height: 700px;
    margin: auto;
    margin-top: 5px;
    
}
.titulo-erro{
    margin-top: -180px;
    margin-bottom: 15px;
}
.item-erro{
    display: flex;
    justify-content: center;
    border: 5px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #00C853, #B2FF59);
}
.img-erro{
    width: 100%;
    border-radius: 8px;
}